body {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  background-color: cornsilk;
}


.option {
  margin-right: 10px;
}

.check__input {
  /* position: absolute; */
  /* height: 1px; */
  /* width: 1px; */
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.check__box {
  /* position: absolute; */
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #8c64c9;

  -moz-appearance: none;
-webkit-appearance: none;
}

.check__input:checked + .check__box {
  background-position: center;
  background-color: #8c64c9;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.94512 3.71706C1.54809 3.33315 0.915017 3.34379 0.531111 3.74083C0.147204 4.13786 0.157844 4.77093 0.554876 5.15484L1.94512 3.71706ZM6.11111 9.13636L5.41599 9.85525C5.80362 10.2301 6.41861 10.2301 6.80624 9.85525L6.11111 9.13636ZM14.4451 2.46889C14.8422 2.08498 14.8528 1.45191 14.4689 1.05488C14.085 0.657844 13.4519 0.647204 13.0549 1.03111L14.4451 2.46889ZM0.554876 5.15484L5.41599 9.85525L6.80624 8.41747L1.94512 3.71706L0.554876 5.15484ZM6.80624 9.85525L14.4451 2.46889L13.0549 1.03111L5.41599 8.41747L6.80624 9.85525Z' fill='white'/%3E%3C/svg%3E");

}
@media screen and (max-width: 768px) {
  .check__box {
    width: 30px;
    height: 30px;
    border-width: 3px;
    
  }
  .check__input:checked + .check__box {
    
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.94512 3.71706C1.54809 3.33315 0.915017 3.34379 0.531111 3.74083C0.147204 4.13786 0.157844 4.77093 0.554876 5.15484L1.94512 3.71706ZM6.11111 9.13636L5.41599 9.85525C5.80362 10.2301 6.41861 10.2301 6.80624 9.85525L6.11111 9.13636ZM14.4451 2.46889C14.8422 2.08498 14.8528 1.45191 14.4689 1.05488C14.085 0.657844 13.4519 0.647204 13.0549 1.03111L14.4451 2.46889ZM0.554876 5.15484L5.41599 9.85525L6.80624 8.41747L1.94512 3.71706L0.554876 5.15484ZM6.80624 9.85525L14.4451 2.46889L13.0549 1.03111L5.41599 8.41747L6.80624 9.85525Z' fill='white'/%3E%3C/svg%3E");
  
  }
}

