body {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}
.wrapper-check__box1 {
  /* position: relative; */
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #8c64c9;
  width: 20px;
  height: 20px;
}
.check__box1 {
  height: 100%;
  width: 100%;
  /* position: relative; */
  border-radius: 50%;
  background-color: #8c64c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check1 {
  /* position: absolute; */
  top: 5px;
  left: 5px;
  border-top-style: none;
  border-right: none;
  border-left-style: solid;
  border-bottom: solid;
  border-color: white;
  transform: rotate(315deg);
  border-width: 2px;
  height: 30%;
  width: 50%;
  margin-bottom: 2px;
}

.option {
  margin-right: 10px;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #8c64c9;
}

.check__input:checked + .check__box {
  background-color: #8c64c9;
}
